<!DOCTYPE html>
<head>
	<title>
		Contact Us
	</title>
	<link href = "./public/css/contact.css" type = "text/css" rel = "stylesheet">
</head>
	<body>
		<div id = "downtown">
			<p class = "heading">Gameroom Downtown</p>
			<p class = "address">1709 0 St, Lincoln NE, 68508</p>
			<p class = "phone">(402)-438-7161</p>
			<p class = "hours">
				<ul>
					<li class = "hr">Monday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Tuesday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Wednesday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Thursday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Friday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Saturday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Sunday: 10 A.M. - 10 P.M.</li>
				</ul>
				<iframe width="459" height="370" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Gameroom,+O+Street,+Lincoln,+NE&amp;aq=1&amp;oq=gameroom+&amp;sll=40.800609,-96.690728&amp;sspn=0.324862,0.614548&amp;ie=UTF8&amp;hq=The+Gameroom,&amp;hnear=O+St,+Lincoln,+Nebraska&amp;t=m&amp;ll=40.800816,-96.690674&amp;spn=0.103956,0.191574&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Gameroom,+O+Street,+Lincoln,+NE&amp;aq=1&amp;oq=gameroom+&amp;sll=40.800609,-96.690728&amp;sspn=0.324862,0.614548&amp;ie=UTF8&amp;hq=The+Gameroom,&amp;hnear=O+St,+Lincoln,+Nebraska&amp;t=m&amp;ll=40.800816,-96.690674&amp;spn=0.103956,0.191574&amp;z=11&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</p>
		</div>
		<div id = "south">
			<p class = "heading">Gameroom South</p>
			<p class = "address">5400 S 56th St #9, Lincoln NE, 68516</p>
			<p class = "phone">(402)-421-0935</p>
			<p class = "hours">
				<ul>
					<li class = "hr">Monday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Tuesday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Wednesday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Thursday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Friday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Saturday: 10 A.M. - 10 P.M.</li>
					<li class = "hr">Sunday: 10 A.M. - 10 P.M.</li>
				</ul>
				<iframe width="459" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Gameroom,+South+56th+Street+%239,+Lincoln,+NE&amp;aq=0&amp;oq=gameroom+s&amp;sll=40.81342,-96.696294&amp;sspn=0.324801,0.614548&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=40.758522,-96.64042&amp;spn=0.006014,0.009828&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Gameroom,+South+56th+Street+%239,+Lincoln,+NE&amp;aq=0&amp;oq=gameroom+s&amp;sll=40.81342,-96.696294&amp;sspn=0.324801,0.614548&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;ll=40.758522,-96.64042&amp;spn=0.006014,0.009828&amp;z=16" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</p>
		</div>		
			<div id = "footer">
				<p> &copy Copyright 2013</p>
		</div>
	</body>
</html>