<style>
.main h3 {
  font-size: 19px;
  background-color: #a8a8a8 !important;
  padding: 7px 10px 20px 20px;
  height: 45px;
  cursor: pointer;
  margin: 4px;
  transition: background-color 150ms ease-out;
  background: url(/images/close.png) no-repeat 0 12px;
}

.main h3:hover {
  background-color: #696969 !important;
  box-shadow: 0px 0px 10px black;
}

.main h3:active {
  background-color: #f2f2f2 !important;
}

h3.open {
  background-image: url(/images/open.png);
}

.details {
  padding: 5px;
}

.address {
  padding: 5px;
  font-size: 20px;
}

ul {
  float: left;
  margin-right: 65px;
}
</style>
<script>//This function shows and hides details about each store
$(document).ready(function() {
  $('.details').hide();
  $('.main h3').click(function() {
    $(this).toggleClass('open');
    $(this).next('.details').slideToggle(400);
  });//end click
});//end ready
</script>
<div class="content">
  <div class="inside">
  <div class="main">
    <h3>Gameroom Downtown | (402)-438-7161</h3>
    <div class="details">
      <div class="address">1713 O St, Lincoln, NE 68508</div>
        <ul>
          <li>Monday | 11:00 AM - 9:00 PM</li>
          <li>Tuesday | 11:00 AM - 9:00 PM</li>
          <li>Wednesday | 11:00 AM - 9:00 PM</li>
          <li>Thursday | 11:00 AM - 9:00 PM</li>
          <li>Friday | 11:00 AM - 9:00 PM</li>
          <li>Saturday | 11:00 AM - 9:00 PM</li>
          <li>Sunday | 11:00 AM - 9:00 PM</li>
        </ul>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.6580494106083!2d-96.69629355000001!3d40.81350749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1392271544489" width="600" height="200" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    <h3>Gameroom South | (402)-421-0935</h3>
    <div class="details">
      <div class="address">5400 S 56th St #9, Lincoln, NE 68516</div>
        <ul>
          <li>Monday | 11:30 AM - 8:30 PM</li>
          <li>Tuesday | 11:30 AM - 8:30 PM</li>
          <li>Wednesday | 11:30 AM - 8:30 PM</li>
          <li>Thursday | 11:30 AM - 8:30 PM</li>
          <li>Friday | 11:30 AM - 8:30 PM</li>
          <li>Saturday | 11:30 AM - 8:30 PM</li>
          <li>Sunday | 11:30 AM - 8:30 PM</li>
        </ul>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1871130523605!2d-96.64118388156758!3d40.757909138276155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1392271904514" width="600" height="200" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
  </div>
</div>
</div>