<style>
.address {
  padding: 5px;
  font-size: 20px;
}
ul {
  float: left;
  margin-right: 65px;
}
img {
  border-radius: 5px;
}
</style>
  <div class="main">
    <h3>Gameroom Downtown | (402)-438-7161</h3>
    <div class="details">
      <div class="address">1713 O St, Lincoln, NE 68508</div>
        <ul>
          <li>Monday | 11:00 AM - 9:00 PM</li>
          <li>Tuesday | 11:00 AM - 9:00 PM</li>
          <li>Wednesday | 11:00 AM - 9:00 PM</li>
          <li>Thursday | 11:00 AM - 9:00 PM</li>
          <li>Friday | 11:00 AM - 9:00 PM</li>
          <li>Saturday | 11:00 AM - 9:00 PM</li>
          <li>Sunday | 11:00 AM - 9:00 PM</li>
        </ul>
        <div class="map">
          <a href="https://www.google.com/maps/place/The+Gameroom/@40.8135075,-96.6962935,17z/data=!3m1!4b1!4m2!3m1!1s0x8796befa9bdc23af:0x9e3f38d758bd8e91" target="blank"><img src="/images/downtown.png" alt="Gameroom Downtown"></a>
        </div>
      </div>
    <h3>Gameroom South | (402)-421-0935</h3>
    <div class="details">
      <div class="address">5400 S 56th St #9, Lincoln, NE 68516</div>
        <ul>
          <li>Monday | 11:30 AM - 8:30 PM</li>
          <li>Tuesday | 11:30 AM - 8:30 PM</li>
          <li>Wednesday | 11:30 AM - 8:30 PM</li>
          <li>Thursday | 11:30 AM - 8:30 PM</li>
          <li>Friday | 11:30 AM - 8:30 PM</li>
          <li>Saturday | 11:30 AM - 8:30 PM</li>
          <li>Sunday | 11:30 AM - 8:30 PM</li>
        </ul>
        <div class="map">
          <a href="https://www.google.com/maps/place/Gameroom/@40.7589525,-96.6447237,16z/data=!4m2!3m1!1s0x87969622d3fdf0c3:0xae4673310be16c0c" target="blank"><img src="/images/south.png" alt="Gameroom South"></a>
        </div>
    </div>
  </div>