
<dl class="accordion" data-accordion>
  <dd>
    <a href="#store1">Gameroom Downtown | (402)-438-7161</a>
    <div id="store1">
      <div id="hidden">
        <p class="address">1713 O St | Lincoln, NE 68508</p>
        <ul class="hours">
          <li>Monday | 11:00 AM - 9 PM</li>
          <li>Tuesday | 11:00 AM - 9 PM</li>
          <li>Wednesday | 11:00 AM - 9 PM</li>
          <li>Thursday | 11:00 AM - 9 PM</li>
          <li>Friday | 11:00 AM - 9 PM</li>
          <li>Saturday | 11:00 AM - 9 PM</li>
          <li>Sunday | 11:00 AM - 9 PM</li>
        </ul>
        <div class="map">
          <iframe    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.6580494106083!2d-96.69629355!3d40.81350749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1391921737848" width="600" height="200" frameborder="0" style="border:0"></iframe>  
        </div>
      </div>   
  </dd>
  <dd>
    <a href="#store2">Gameroom South | (402)-421-0935</a>
    <div id="store2">
      <div id="hidden1">
        <div class="address">
          <p class="imp">5400 S 56th St #9 | Lincoln, NE 68516</p>
        </div>
        <ul class="hours">
          <li>Monday | 11:30 AM - 8:30 PM</li>
          <li>Tuesday | 11:30 AM - 8:30 PM</li>
          <li>Wednesday | 11:30 AM - 8:30 PM</li>
          <li>Thursday | 11:30 AM - 8:30 PM</li>
          <li>Friday | 11:30 AM - 8:30 PM</li>
          <li>Saturday | 11:30 AM - 8:30 PM</li>
          <li>Sunday | 11:30 AM - 8:30 PM</li>
        </ul>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.0798605945793!2d-96.6423339!3d40.758511649999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87969622d3fdf0c3%3A0xae4673310be16c0c!2sGameroom!5e0!3m2!1sen!2sus!4v1391922658889" width="600" height="200" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
  </dd>
</dl>
			<div id = "footer">
				<p> &copy Copyright 2013</p>
		</div>