
<dl class="accordion" data-accordion>
  <dd>
    <a href="#store1">Gameroom Downtown | (402)-438-7161</a>
    <div id="store1">
      <div id="hidden">
        <ul class="hours">
          <li>Monday | 11:00 PM - 9 PM</li>
          <li>Tuesday | 11:00 PM - 9 PM</li>
          <li>Wednesday | 11:00 PM - 9 PM</li>
          <li>Thursday | 11:00 PM - 9 PM</li>
          <li>Friday | 11:00 PM - 9 PM</li>
          <li>Saturday | 11:00 PM - 9 PM</li>
          <li>Sunday | 11:00 PM - 9 PM</li>
        </ul>
        <div class="map">
          <iframe    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.6580494106083!2d-96.69629355!3d40.81350749999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8796befa9bdc23af%3A0x9e3f38d758bd8e91!2sThe+Gameroom!5e0!3m2!1sen!2sus!4v1391921737848" width="600" height="200" frameborder="0" style="border:0"></iframe>  
        </div>
      </div>   
  </dd>
  <dd>
    <a href="#panel2">Accordion 2</a>
    <div id="panel2" class="content">
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </dd>
  <dd>
    <a href="#panel3">Accordion 3</a>
    <div id="panel3" class="content">
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </dd>
</dl>
			<div id = "footer">
				<p> &copy Copyright 2013</p>
		</div>