
	<div id = "content">
		<div id = "feature">
      <p>feature</p>
		</div>
		<div class = "article column1">
			<p class = "intro">We fix broken electronics</p>
			<p>Game consoles</p>
			<p>Laptops</p>
			<p>Phones</p>
		</div>
		<div class = "article column2">
			<p class = "intro">Column Two</p>
			<p>Item 1</p>
			<p>Item 2</p>
			<p>Item 3</p>
		</div>
		<div class = "article column3">
			<p class = "intro">Column Three</p>
			<p>Item 1</p>
			<p>Item 2</p>
			<p>Item 3</p>
		</div>
	</div>
	<div id = "footer">
		<p>&copy Copyright 2013</p>
	</div>

