<style>
.feature {
  width: 100%;
  margin: 0;
}

.inside {
  width: 1000px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebebeb;
  margin-top: 0;
  padding: 1px;
}

.inside img {
  margin: auto;
}

.head {
  padding: 0px 5px 5px 10px;
  margin: 0;
}
</style>
<div class="content">
  <div class="feature">
    <div class='inside'>
      <img src="/images/logo.png" alt="Gameroom">
      <hr>
      <div class="sub">
        <p class="head">Gameroom Headlines</p>
      </div>
    </div>
  </div>
</div>

