<style>
.feature {
  width: 100%;
  height: 100%;
  margin: 0;
}

.content {
  height: 100%;
}

.inside img {
  margin: auto;
}

.sub {
  height: 60%;
}

.head {
  padding: 0px 5px 5px 10px;
  margin: 0;
}

.col1 {
  width: 315px;
  float: left;
  padding-left: 52px;
}

.col2 {
  width: 315px;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  border-left: solid #cccccc;
  padding-left: 90px;
}

.col3 {
  width: 315px;
  height: 90%;
  float: right;
  text-align: left;
  border-left: solid #cccccc;
  margin-right: 5px;
  padding-left: 80px;
}
</style>
<div class="content">
  <div class="feature">
    <div class='inside'>
      <div class="logo">
        <a href="https://www.facebook.com/GameroomforPresident" target="blank"><img src="/images/logo.png" alt="Gameroom For President"></a>
      </div>
      <hr>
      <div class="sub">
        <div class="col1">
        <p class="head">Gameroom Headlines</p>
        <ul>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </div>
      <div class="col2">
        <p class="head">Deal of the month</p>
        <ul>
          <li>Some awesome sale</li>
        </ul>
      </div>
      <div class="col3">
        <p class="head">Do you need</p>
        <ul>
          <li>Your device fixed?</li>
          <li>A disc cleaned?</li>
          <li>Some company?</li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</div>

