<style>
.in {
  float:left;
}
.searchbar {
 
}
.searchbar input[type="text"] {
  height: 40px;
  width: 850px;
}
.searchbar button[type="submit"] {
  height: 40px;
  line-height: 100%;
}
.btn {
  margin-right: 0;
}
</style>
<div class="searchbar">
  <form>
    <div class="in">
    <input name="init" type="text" placeholder="Find games, consoles, accesories, services, and more">
  </div>
  <div class="btn">
    <button type="submit" value="submit" class="searchbtn">Go!</button>
  </div>
  </form>
</div>