<style>
.result {
  padding: 20px 10px 10px 10px; 
}
</style>
<ul class="result">
  <% @results["users"].each do |user| %>
    <li class="person">
      <img src="<%= user["gravatar_url"] %>" />
      <%= user["first_name"] %> <%= user["last_name"] %>
    </li>
  <% end %>
</ul>