<style>
.result {
  padding: 20px 10px 10px 10px; 
}
.item {
  padding: 5px;
  border-bottom: 1px solid #8f8f8f;
  box-shadow: 0 1px 2px -1px #bdbdbd;
  
}
</style>
<ul class="result">
  <% @results["users"].each do |user| %>
    <li class="item">
      <img src="<%= user["gravatar_url"] %>" />
      <%= user["first_name"] %> <%= user["last_name"] %>
    </li>
  <% end %>
</ul>
<div class="pagenav">
<ul class="pagination">
  <li class="arrow unavailable"><a href="">&laquo;</a></li>
  <li class="current"><a href="">1</a></li>
  <li><a href="">2</a></li>
  <li><a href="">3</a></li>
  <li><a href="">4</a></li>
  <li class="unavailable">&hellip;</li>
  <li><a href="">12</a></li>
  <li><a href="">13</a></li>
  <li class="arrow"><a href="">&raquo;</a></li>
</ul>
</div>