<style>
.inside {
  padding: 20px;
}
p.head {
  font-size: 25px;
  margin: 0;
  cursor: pointer;
}
.service {
  width: 450px;
  float: left;
}
.end {
  margin-bottom: 0;
}
.info li { 
  cursor: pointer;
}
.window {

}
</style>
<div class="service">
<div class="repairs">
  <p class="head">Repairs</p>
  <ul class="info">
    <li>Consoles</li>
    <li>Computers</li>
    <li>Laptops</li>
    <li>Phones</li>
    <li>iPods</li>
    <li>Tablets</li>
  </ul>
</div>
<div class="disc">
  <p class="head">Disc Cleaning</p>
  <ul class="info">
    <li>One-Sided</li>
    <li>Double-Sided</li>
    <li>Gamecube</li>
  </ul>
</div>
<div class="selling">
  <p class="head">Selling/Trading</p>
  <ul class="info">
    <li>Cash</li>
    <li>Store-Credit</li>
  </ul>
</div>
<div class="vol">
  <p class="head">Volunteering</p>
  <ul class="info">
    <li>Click here to learn more about our volunteer program!</li>
  </ul>
</div>
<div class="end <%= "selected" if request.path_info == "/contact" %>">
  <a href="/contact"><p>Questions?  Call either store for more details!</p></a>
</div>
</div>