
    <div id = "sell">
      <p class = "heading">Insert sell introduction here</p>
      <div id = "cash">
        <p class = "head">Cash</p>
      </div>
      <div id = "credit">
        <p>Credit</p>
      </div>
      <div id = "close_sell">
        <p>Policy</p>
      </div>
    </div>
    <div id = "discs">
      <p class = "heading">Insert discs introduction here</p>
      <div id = "one">
        <p>One sided</p>
      </div>
      <div id = "double">
        <p>Double sided</p>
      </div>
      <div id = "cube">
        <p>Gamecube</p>
      </div>
    </div>
    <div id = "repair">
      <p class = "heading">Insert repair introduction here</p>
      <div id = "console">
        <p>Console</p>
      </div>
      <div id = "computer">
        <p>Computers</p>
      </div>
      <div id = "phone">
        <p>Phones</p>
      </div>
    </div>
    <div id = "footer">
      <p>&copy Copyright 2013</p>
    </div>
    
		