<style>
.details li {
  cursor: pointer;
  background: url(/images/close.png) no-repeat 0 4px;
  padding-left: 18px;
  transition: background-color 150ms ease-out;
}
.details li:hover, .end p:hover {
  background-color: #dedede;
  box-shadow: 0px 0px 5px black;
}
.details {
  width: 400px;
}
li.open {
  background-image: url(/images/open.png);
}
.end {
  padding: 5px;
}
</style>
<div class="main">
  <h3>Repairs</h3>
  <div class="details">
    <ul class="subinf">
      <li>Consoles</li>
      <p>Our technicians are able to fix a mutlitude of different problems that occur with consoles including Disc Read Errors, hardware malfunctions, and much more.</p>
      <li>Computers</li>
      <p>Computer info</p>
      <li>Laptops</li>
      <p>Laptop info</p>
      <li>Phones</li>
      <p>Phones info</p>
      <li>iPods</li>
      <p>iPods</p>
      <li>Tablets</li>
      <p>Tablets</p>
    </ul>
  </div>
  <h3>Disc Cleaning</h3>
  <div class="details">
    <ul class="subinf">
      <li>One-sided</li>
      <p>$1.50</p>
      <li>Double-sided</li>
      <p>$2.00 Per side</p>
      <li>Gamecube</li>
      <p>$3.00</p>
    </ul>
  </div>
  <h3>Selling/Trading</h3>
  <div class="details">
    <ul class="subinf">
      <li>Cash</li>
      <p>At the Gameroom we buy a very large variety of merchandise.  If you have an electronic item that you no longer want, chances are we will buy it!  Anything that you see in the Gameroom at one time belonged to someone else.</p>
      <li>Store Credit</li>
      <p>Along with giving customers cash, we also offer store credit.  You will always get more in store credit for your items, and store credit is good at all Gameroom locations.  Store credit can be used towards any item that we sell and the amount that you use store credit on is not taxed!</p>
    </ul>
  </div>
  <h3>Volunteering</h3>
  <div class="details">
    <p style="padding-left: 20px;">At the Gameroom we allow people to volunteer their time to help out the Gameroom employees in every-day processing.  Call your local store for more details!</p>
  </div>
</div>