<style>
.details li {
  cursor: pointer;
  background: url(/images/close.png) no-repeat 0 4px;
  padding-left: 18px;
  transition: background-color 150ms ease-out;
}
.details li:hover {
  background-color: #dedede;
  box-shadow: 0px 0px 5px black;
}
.details {
  width: 400px;
}
li.open {
  background-image: url(/images/open.png);
}
</style>
<script>
$(document).ready(function() {
  $(".subinf p").hide();
  $('.subinf li').click(function() {
    $(this).toggleClass('open');
    $(this).next('.subinf p').slideToggle(400);
  });
});
</script>
<div class="main">
  <h3>Repairs</h3>
  <div class="details">
    <ul class="subinf">
      <li>Consoles</li>
      <p>Console info</p>
      <li>Computers</li>
      <p>Computer info</p>
      <li>Laptops</li>
      <p>Laptop info</p>
      <li>Phones</li>
      <p>Phones info</p>
      <li>iPods</li>
      <p>iPods</p>
      <li>Tablets</li>
      <p>Tablets</p>
    </ul>
  </div>
  <h3>Disc Cleaning</h3>
  <div class="details">
    <ul>
      <li>One-sided</li>
      <li>Double-sided</li>
      <li>Gamecube</li>
    </ul>
  </div>
  <h3>Selling/Trading</h3>
  <div class="details">
    <ul>
      <li>Cash</li>
      <li>Store Credit</li>
    </ul>
  </div>
<div class="end <%= "selected" if request.path_info == "/contact" %>">
  <a href="/contact"><p>Questions?  Call either store for more details!</p></a>
</div>
</div>