<style>
.details li {
  cursor: pointer;
  background: url(/images/close.png) no-repeat 0 4px;
  padding-left: 18px;
}
.details {
  width: 400px;
}
</style>
<div class="main">
  <h3>Repairs</h3>
  <div class="details">
    <ul>
      <li>Consoles</li>
      <li>Computers</li>
      <li>Laptops</li>
      <li>Phones</li>
      <li>iPods</li>
      <li>Tablets</li>
    </ul>
  </div>
  <h3>Disc Cleaning</h3>
  <div class="details">
    <ul>
      <li>One-sided</li>
      <li>Double-sided</li>
      <li>Gamecube</li>
    </ul>
  </div>
  <h3>Selling/Trading</h3>
  <div class="details">
    <ul>
      <li>Cash</li>
      <li>Store Credit</li>
    </ul>
  </div>
<div class="end <%= "selected" if request.path_info == "/contact" %>">
  <a href="/contact"><p>Questions?  Call either store for more details!</p></a>
</div>
</div>