<style>
.details li {
  cursor: pointer;
  background: url(/images/close.png) no-repeat 0 4px;
  padding-left: 18px;
  transition: background-color 150ms ease-out;
}
.details li:hover {
  background-color: #dedede;
  box-shadow: 0px 0px 5px black;
}
.details {
  width: 400px;
}
li.open {
  background-image: url(/images/open.png);
}
</style>
<div class="main">
  <h3>Repairs</h3>
  <div class="details">
    <ul class="subinf">
      <li>Consoles</li>
      <p>Our technicians are able to fix a mutlitude of different problems that occur with consoles including Disc Read Errors, hardware malfunctions, and much more.</p>
      <li>Computers</li>
      <p>Computer info</p>
      <li>Laptops</li>
      <p>Laptop info</p>
      <li>Phones</li>
      <p>Phones info</p>
      <li>iPods</li>
      <p>iPods</p>
      <li>Tablets</li>
      <p>Tablets</p>
    </ul>
  </div>
  <h3>Disc Cleaning</h3>
  <div class="details">
    <ul class="subinf">
      <li>One-sided</li>
      <p>$1.50</p>
      <li>Double-sided</li>
      <p>$2.00 Per side</p>
      <li>Gamecube</li>
      <p>$3.00</p>
    </ul>
  </div>
  <h3>Selling/Trading</h3>
  <div class="details">
    <ul class="subinf">
      <li>Cash</li>
      <p>Cash info</p>
      <li>Store Credit</li>
      <p>Store credit info</p>
    </ul>
  </div>
  <h3>Volunteering</h3>
  <div class="details">
    <p style="padding-left: 20px;">At the Gameroom we allow people to volunteer their time to help out the Gameroom employees in every-day processing.  Call your local store for more details!</p>
  </div>
<div class="end <%= "selected" if request.path_info == "/contact" %>">
  <a href="/contact"><p style="padding: 5px;">Questions?  Call either store for more details!</p></a>
</div>
</div>