<style>
.container.wanted {
  width: 217px;
  float:left;
  position: fixed;
  box-shadow: 0px 0px 7px black;
}
.parent {
  overflow:hidden;
  height: 750px;
}
.data {
  padding: 5px;
  padding-left: 225px;
}
</style>
<div class="parent">
<div class="container wanted main">
<h3>Games</h3>
<h3>Consoles</h3>
<h3>Accessories</h3>
<h3>TVs</h3>
<h3>Misc</h3>
</div>
<div class="display">
  <div class="data">
  <p>data goes here</p>
  </div>
</div>
</div>