<style>
.container.wanted {
  width: 217px;
  float:left;
  position: fixed;
  background-color: #cccccc;
}
.parent {
  overflow:hidden;
  height: 750px;
}
.data {
  padding: 5px;
  padding-left: 230px;
}
.sidebar {
  width: 222px;
  height: 100%;
  border-right: 1px solid #8f8f8f;
  float:left;
}
</style>
<div class="parent">
<div class="sidebar">  
<div class="container wanted main">
<h3>Games</h3>
<h3>Consoles</h3>
<h3>Accessories</h3>
<h3>TVs</h3>
<h3>Misc</h3>
</div>
</div>
<div class="display">
  <div class="data">
  <p>data goes here</p>
  </div>
</div>
</div>