body {
	width: 960px;
	margin: 0 auto;
	font-family: 'Quicksand', sans-serif !important ;
  font-weight: 700;
}

#navbar {
	background-color: #efefef;
	padding: 10px;
	margin: 5px;
}

li {
	display: inline;
	padding: 5px;
}

li.hr {
	display: block;
	padding: 5px;
}

li.imp {
	font-size: 25px;
	
}

#navi {
	color: #b5b5b5;
}
.selected {
	font-weight: bold;
	font-style: oblique;
	color: #7a1f9c;
}

#footer {
	width: 100%;
	bottom: 0px;
	margin: 0px;
	left: 0px;
}

.hiddend, .hidden {
	background-color: #efefef;
	width: 940px;
	margin: 5px;
	padding: 5px;
  display: none;
}

.headingd, .heading {
  font-weight: bold;
  font-style: oblique;
  color: black;
  width: 940px;
  margin: 5px;
  padding: 5px;
  background color: #efefef;
  text-align: center;
  
}

a {
	text-decoration: none;
	color: black;
}

b {
	color: #7a1f9c;
}

#downtown, #south {
  width: 940px;
  margin: 5px;
  padding: 5px;
  background-color: #efefef;
  
}

.hour {
  float: left;
}