body {
	width: 960px;
	margin: 0 auto;
	font-family: 'Quicksand';
}

#content {
	overflow: auto;
	height: 100%;
}

#navbar, #feature {
	background-color: #efefef;
	padding: 10px;
	margin: 5px;
}

#footer {
	width: 100%;
	bottom: 0px;
	margin: 0px;
	left: 0px;
}
.column1, .column2, .column3 {
	background-color: #efefef;
	width: 300px;
	float: left;
	margin: 5px;
	padding: 5px;
}

li {
	display: inline;
	padding: 5px;
}

li.imp {
	font-size: 25px;
}

#selected {
	font-weight: bold;
	font-style: oblique;
}

a {
	text-decoration: none;
	color: black;
}

b {
	color: #7a1f9c;
}

p.intro {
	font-weight: bold;
	font-style: oblique;
	text-align: center;
}

.del {
  font-weight: bold;
  font-style: oblique;
}
