body {
  width: 960px;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif !important;
}

li {
  display: inline;
  padding: 5px;
}

li.imp {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

#selected {
  font-weight: bold;
  font-style: oblique;
}

#navbar {
  background-color: #efefef;
  padding: 10px;
  margin: 5px;
}

b {
  color: #7a1f9c;
}

#footer {
  width: 100%;
  bottom: 0px;
  margin: 0px;
  left: 0px;
}

#repair, #sell, #discs {
  overflow: hidden;
  margin: 5px;
  padding: 5px;
  background-color: #efefef;
  width: 940px;
  
}

#cash, #credit, #close_sell, #one, #double, #cube, #console, #computer, #phone {
  width: 300px;
  float: left;
  padding: 5px;
  margin: 1px;
  text-align: center;
  background-color: #828282;
  font-style: oblique;
  font-weight: bold;
}

#head {
  text-weight: bold;
}

p.heading {
  font-weight: bold;
}


